/GN93hz
/HW3.ipynb
/Hw1.ipynb
/WD.png
/asteroids.png
/bs05op.dat
/exo.png
/exoStar.png
/exoStarWD.png
/exoStarWDNS.png
/exoStarWDNSAsteroids.png
/exoStarWDNSAsteroidsMoons.png
/exoStarWDNSBHSS.png
/exoStarWDNSSS.png
/moons.png
/planets.png
/star.png